* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
    /* border: 1px solid blue; */
}

.toy-case {
    margin: 5em;
    padding: 2em;
    display: flex;
    width: 40%;
    align-items: center;
    flex-direction: column;
    border: 5px solid red;
    background: rgb(255, 255, 255);
    background: linear-gradient(183deg, rgba(255,157,157,1) 0%, rgba(254,38,38,1) 36%, rgba(255,0,0,1) 100%);
    border-radius: 10%;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}
.logo {
    justify-content: center;
    font-weight: bold;
    font-size: 3rem;
    color:  #f1cc66;
    text-shadow: 1px 1px 4px #000;
    
}

.wrapper {
  
    align-items: center;
    justify-content: center;
    padding: 2vh;
}

.header {
    position: relative;
    z-index: 1001;
}

.draw-area > div {
    background: #ddd;

    /* padding: 0.1em; */
}

/* .draw-area > div:nth-child(odd) {
    background: #ddd;
} */

.draw-area {
    display: flex;
    position: relative;
    z-index: 1000;
    display: grid;
    gap: 1px;
    width: 60vh;
    height: 60vh;
    border: 3px solid grey;
    background-color: rgba(187, 187, 187, 0.904);
    padding: 1em;
    border-radius:15px;
}


.grid-size {
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.draw-area div:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

#custom {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 3vh;
    /* width: 5rem; */
}

#custom {
    color: white;

}

#custom:hover{
    background:     linear-gradient(
       to right, 
       #E7484F,
       #E7484F 16.65%,
       #F68B1D 16.65%,
       #F68B1D 33.3%,
       #FCED00 33.3%,
       #FCED00 49.95%,
       #009E4F 49.95%,
       #009E4F 66.6%,
       #00AAC3 66.6%,
       #00AAC3 83.25%,
       #732982 83.25%,
       #732982 100%,
       #E7484F 100%
     );
   animation:slidebg 10s linear infinite;
 }
 
 
 @keyframes slidebg {
   to {
     background-position:20vw;
   }
 }
 
 .follow{
   margin-top: 40px;
 }
 
 .follow a{
   color: black;
   padding: 8px 16px;
   text-decoration: none;
 }

input[type="color"] {
    height: 3.5vh;
    width: 5vh;
    display: flex;
	opacity: 0;
    position:absolute;
	/* width: 32px;  */
	border: none;
}

input:hover {
    cursor: pointer;
}

.color-menu {
    display: flex;
    flex-direction: row;
    gap: 0.5rem; 
}

.color-menu button {
    padding: 0.3em;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
.color-btn:hover {
    background-color: #f1cc66;;
}

.btn-clear:hover {
    color: red;
}

.slider {
    background: transparent;
    -webkit-appearance;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

.slider-output {
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1.5px solid #000000;
    height: 2vh;
    width: 2vh;
    border-radius: 15px;
    background: #ff0000;
    cursor: pointer;
    /* margin-top: -14px; You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}
