* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
    /* border: 1px solid blue; */
}

.toy-case {
    margin: 5em;
    padding: 2em;
    display: flex;
    width: 40%;
    align-items: center;
    flex-direction: column;
    border: 5px solid red;
    background: rgb(255, 255, 255);
    background: linear-gradient(183deg, rgba(255, 157, 157, 1) 0%, rgba(254, 38, 38, 1) 36%, rgba(255, 0, 0, 1) 100%);
    border-radius: 10%;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.logo {
    justify-content: center;
    font-weight: bold;
    font-size: 3rem;
    color: #f1cc66;
    text-shadow: 1px 1px 4px #000;
}

.wrapper {
    align-items: center;
    justify-content: center;
    padding: 2vh;
}

.header {
    position: relative;
    z-index: 1001;
}

.draw-area>div {
    background: #ddd;
    /* padding: 0.1em; */
}


/* .draw-area > div:nth-child(odd) {
    background: #ddd;
} */

.draw-area {
    display: flex;
    position: relative;
    z-index: 1000;
    display: grid;
    gap: 1px;
    width: 60vh;
    height: 60vh;
    border: 3px solid grey;
    background-color: rgba(187, 187, 187, 0.904);
    padding: 1em;
    border-radius: 15px;
}

.grid-size {
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.draw-area div:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.pressed {
    background: red !important;
}

#custom {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 3vh;
    /* width: 5rem; */
}

#custom {
    color: white;
}

#custom:hover {
    background: linear-gradient( to right, #E7484F, #E7484F 16.65%, #F68B1D 16.65%, #F68B1D 33.3%, #FCED00 33.3%, #FCED00 49.95%, #009E4F 49.95%, #009E4F 66.6%, #00AAC3 66.6%, #00AAC3 83.25%, #732982 83.25%, #732982 100%, #E7484F 100%);
    animation: slidebg 10s linear infinite;
}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}

.follow {
    margin-top: 40px;
}

.follow a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

input[type="color"] {
    height: 3.5vh;
    width: 5vh;
    display: flex;
    opacity: 0;
    position: absolute;
    /* width: 32px;  */
    border: none;
}

input:hover {
    cursor: pointer;
}

.color-menu {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.color-menu button {
    padding: 0.3em;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.color-btn:hover {
    background-color: #f1cc66;
    ;
}

.btn-clear:hover {
    color: red;
}

.slider {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

.slider-output {
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Slider styling Thumb*/

input[type=range] {
    width: 100%;
    margin: 7.8px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #b30000;
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -8px;
    width: 23px;
    height: 24px;
    background: #ff0000;
    border: 1.7px solid #000000;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #cc0000;
}

input[type=range]::-moz-range-track {
    background: #b30000;
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 23px;
    height: 24px;
    background: #ff0000;
    border: 1.7px solid #000000;
    border-radius: 50px;
    cursor: pointer;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 13.4px 0;
    color: transparent;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower {
    background: #9a0000;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
}

input[type=range]::-ms-fill-upper {
    background: #b30000;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
}

input[type=range]::-ms-thumb {
    width: 23px;
    height: 24px;
    background: #ff0000;
    border: 1.7px solid #000000;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus::-ms-fill-lower {
    background: #b30000;
}

input[type=range]:focus::-ms-fill-upper {
    background: #cc0000;
}


/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/

@supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}


/* Slider styling track */

input[type=range] {
    width: 100%;
    margin: 7.8px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #b30000;
    border: 0.2px solid #010101;
    border-radius: 15px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -8px;
    width: 23px;
    height: 24px;
    background: #ff0000;
    border: 1.7px solid #000000;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #cc0000;
}

input[type=range]::-moz-range-track {
    background: #b30000;
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 23px;
    height: 24px;
    background: #ff0000;
    border: 1.7px solid #000000;
    border-radius: 50px;
    cursor: pointer;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 13.4px 0;
    color: transparent;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower {
    background: #9a0000;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
}

input[type=range]::-ms-fill-upper {
    background: #b30000;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
}

input[type=range]::-ms-thumb {
    width: 23px;
    height: 24px;
    background: #ff0000;
    border: 1.7px solid #000000;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus::-ms-fill-lower {
    background: #b30000;
}

input[type=range]:focus::-ms-fill-upper {
    background: #cc0000;
}


/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/

@supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}